body{
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1{
    margin-bottom: 30px;
}

a{
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

.book-card{
    background-color: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #333;
}
form{
    margin-bottom: 30px;
}

input, select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

button{
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar{
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.navbar a{
    margin-right: 20px;
}