<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">

    <a href="/dashboard">Dashboard</a>

    <a href="/add_book">Add Book</a>

    <a href="/books">My Books</a>

    <a href="/logout">Logout</a>

</div>

<h1>Add New Book</h1>

<div class="book-card">

<form method="POST">

    <label>Title:</label>
    <br>
    <input type="text" name="title" required>
    <br><br>

    <label>Author:</label>
    <br>
    <input type="text" name="author" required>
    <br><br>

    <label>Category:</label>
    <br>
    <input type="text" name="category">
    <br><br>

    <label>Status:</label>
    <br>
    <select name="status">
        <option value="Reading">Reading</option>
        <option value="Completed">Completed</option>
        <option value="Planned">Planned</option>
    </select>
    <br><br>

    <label>Rating:</label>
    <br>
    <input type="number" name="rating" min="1" max="10">
    <br><br>

    <button type="submit">Add Book</button>

</form>

</div>

</body>
</html>