<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">

    <a href="/dashboard">Dashboard</a>

    <a href="/add_book">Add Book</a>

    <a href="/books">My Books</a>

    <a href="/logout">Logout</a>

</div>

<h1>My Books</h1>

<form method="GET">

    <input type="text"
           name="search"
           placeholder="Search by title">

    <select name="category">

        <option value="">All Categories</option>

        <option value="Programming">Programming</option>
        <option value="Roman">Roman</option>
        <option value="Classic">Classic</option>

    </select>

    <button type="submit">Search</button>

</form>

{% for book in books %}

<div class="book-card">

    <h2>
        {{ book[2] }}

        {% if book[8] == 1 %}
            ⭐
        {% endif %}
    </h2>

    <p><b>Author:</b> {{ book[3] }}</p>

    <p><b>Category:</b> {{ book[4] }}</p>

    <p><b>Status:</b> {{ book[5] }}</p>

    <p><b>Rating:</b> {{ book[6] }}</p>

    <p><b>Progress:</b> {{ book[7] }}%</p>

    <a href="/delete_book/{{ book[0] }}">Delete</a>

    <br><br>

    <a href="/edit_book/{{ book[0] }}">Edit</a>

    <br><br>

    <a href="/favorite_book/{{ book[0] }}">
        Add To Favorites
    </a>

</div>

{% endfor %}

</body>
</html>