<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="dashboard-wrapper">

    <div class="dashboard-navbar">

        <div class="dashboard-logo">

            <div class="mini-logo">

                <div class="mini-blue"></div>

                <div class="mini-green"></div>

            </div>

            <span>
                Neh-Meh Kitap
            </span>

        </div>

        <div class="dashboard-links">

            <a href="/dashboard">Dashboard</a>

            <a href="/add_book">Add Book</a>

            <a href="/books">My Books</a>

            <a href="/logout">Logout</a>

        </div>

    </div>

    <div class="welcome-box">

        <h1>
            Hoş Geldin, {{ username }}
        </h1>

        <p>
            Dijital kütüphaneni yönetmeye devam et.
        </p>

    </div>

    <div class="stats-container">

        <div class="stat-card">

            <h2>
                {{ total_books }}
            </h2>

            <p>
                Toplam Kitap
            </p>

        </div>

        <div class="stat-card">

            <h2>
                {{ reading_books }}
            </h2>

            <p>
                Okunuyor
            </p>

        </div>

        <div class="stat-card">

            <h2>
                {{ completed_books }}
            </h2>

            <p>
                Tamamlandı
            </p>

        </div>

    </div>

</div>

</body>
</html>