<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">

    <title>Neh-Meh Kitap</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="top-logo">

        <div class="real-logo">

            <div class="logo-blue"></div>

            <div class="logo-green"></div>

        </div>

        <div class="logo-writing">

            <h1>Neh-Meh Kitap</h1>

            <p>DİJİTAL KÜTÜPHANE</p>

        </div>

    </div>

    <div class="auth-menu">

        <a href="/login">Giriş Yap</a>

        <a href="/register">Üye Ol</a>

    </div>

    <div class="home-card">

        <h2>
            Dijital Kütüphanene Hoş Geldin
        </h2>

        <p>
            Kitaplarını yönet,
            favorilere ekle,
            okuma durumunu takip et
            ve kendi dijital arşivini oluştur.
        </p>

    </div>

</div>

</body>
</html>