<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Neh-Meh Library</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="top-logo">

        <div class="real-logo">
            <div class="logo-blue"></div>
            <div class="logo-green"></div>
        </div>

        <div class="logo-writing">
            <h1>Neh-Meh Library</h1>
            <p>DIGITAL LIBRARY</p>
        </div>

    </div>

    <p class="home-intro">
        Manage your personal book collection,
        reading progress and favorite books.
    </p>

    <div class="auth-menu">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

    <div class="home-features">

        <div class="feature-box">
            <h3>Books</h3>
            <p>Add, edit and delete books.</p>
        </div>

        <div class="feature-box">
            <h3>Progress</h3>
            <p>Track your reading status.</p>
        </div>

        <div class="feature-box">
            <h3>Favorites</h3>
            <p>Save your favorite books.</p>
        </div>

    </div>

</div>

</body>
</html>