<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <!-- LOGO -->

    <div class="top-logo">

        <div class="real-logo">

            <div class="logo-blue"></div>

            <div class="logo-green"></div>

        </div>

        <div class="logo-writing">

            <h1>Neh-Meh Library</h1>

            <p>DIGITAL LIBRARY</p>

        </div>

    </div>

    <!-- MENU -->

    <div class="auth-menu">

        <a href="/login">Login</a>

        <a href="/register">Register</a>

    </div>

    <!-- LOGIN BOX -->

    <div class="login-box">

        <span class="hero-badge">
            Welcome Back
        </span>

        <h2 class="login-title">
            Login to Your Account
        </h2>

        <p class="login-subtitle">
            Access your digital library
            and continue your reading journey.
        </p>

        <form method="POST">

            <input
                class="auth-input"
                type="text"
                name="username"
                placeholder="Username"
                required
            >

            <input
                class="auth-input"
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <div class="remember-row">

                <input type="checkbox">

                <span>Remember Me</span>

            </div>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

</body>
</html>
```
