<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">

    <title>Üye Ol</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="page-wrapper">

    <div class="top-logo">

        <div class="real-logo">

            <div class="logo-blue"></div>

            <div class="logo-green"></div>

        </div>

        <div class="logo-writing">

            <h1>Neh-Meh Kitap</h1>

            <p>DİJİTAL KÜTÜPHANE</p>

        </div>

    </div>

    <div class="auth-menu">

        <a href="/login">Giriş Yap</a>

        <a href="/register">Üye Ol</a>

    </div>

    <div class="login-box">

        <form method="POST">

            <input
                type="text"
                name="username"
                class="auth-input"
                placeholder="Kullanıcı Adı"
                required
            >

            <input
                type="email"
                name="email"
                class="auth-input"
                placeholder="E-mail"
                required
            >

            <input
                type="password"
                name="password"
                class="auth-input"
                placeholder="Şifre"
                required
            >

            <button type="submit">
                Üye Ol
            </button>

        </form>

    </div>

</div>

</body>
</html>